<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>{{instructions}}</p>
    {% for message in get_flashed_messages()%}
        <p>{{ message }}</p>
    {% endfor %}
    

    {% block form %}
        <h2>Please select a survey:</h2>
        <form action="/start" method="POST">
            {% for (survey, object) in surveys.items() %}
                <input type="radio" name="choice" value="{{survey}}" id="{{survey}}">
                <label for="{{survey}}">{{object.title}}</label>
            {% endfor %}
            <button>Start Survey</button>
        </form>
    {% endblock %}
</body>
</html>